@{
    ViewBag.Title = "Home Page";
}

<div class="container">
@*    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
    </div>*@

    <!-- Example row of columns -->
    <div class="row home-icons">
        <div class="span7">
            <div class="flexslider">
                <ul class="slides">
                    @foreach (string filename in ViewBag.BannerImages)
                    {
                        <li>
                            <img src="@Url.Action("Download", new { id=filename })" />
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="span5">
            <h2>Contact Us</h2>
            <p><a href="@Url.Action("Contact", "Home")">
                <img class="home-icon" src="~/Images/contact-us.png" /></a></p>
        </div>
    </div>
</div>
<!-- /container -->

<script>
    $('.flexslider').flexslider({
        animation: "slide"
    });
</script>

