/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background-color: #E0F5FF;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

    #wrap > .container-fluid, #wrap > .container {
        padding-top: 60px;
    }

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}
/* End Sticky footer styles
-------------------------------------------------- */


form {
    padding: 10px;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.images {
    margin-bottom: 0px;
}

.hero-unit {
    padding: 30px 30px 1px 30px;
}

.home-page .span2 {
    text-align: center;
}

.home-page .home-icon {
    height: 128px;
}

.home-page .home-icons div {
    text-align: center;
}

#footer {
    font-size: 1em;
    padding-left: 25px;
    padding-right: 25px;
}

    #footer img {
        height: 25px;
    }

    #footer .row-fluid {
        margin: 15px 0;
    }

@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -9px;
    }

    #wrap > .container-fluid, #wrap > .container {
        padding-top: 0px;
    }

    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }

    a[class*="group"] img {
        max-width: 250px;
        max-height: 250px;
    }

    .detail-page .span9 .span4 {
        float: none;
        width: 100%;
    }

        .detail-page .span9 .span4 li:not(:first-child) {
            display: inline-block;
        }

            .detail-page .span9 .span4 li:not(:first-child) img {
                max-width: 150px;
                max-height: 150px;
            }

    .detail-page .span9 .span8 {
        float: none;
        width: 100%;
    }

    #footer .row-fluid {
        margin: 0px;
    }
}

/* Sidebar Nav */
.sidebar-nav {
    padding: 9px 0px;
    position: fixed;
    width: inherit;
    *width : 23%; /* IE7 and below */  
}

    .sidebar-nav .accordion {
        margin-bottom: 0px;
    }


/* Special grid styles
    -------------------------------------------------- */

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

    .show-grid [class*="span"] {
        /*background-color: #eee;*/ /*text-align: center;*/
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .show-grid .show-grid {
        margin-top: 0;
        margin-bottom: 0;
    }

        .show-grid .show-grid [class*="span"] {
            margin-top: 5px;
        }

    .show-grid [class*="span"] [class*="span"] {
        background-color: #ccc;
    }

        .show-grid [class*="span"] [class*="span"] [class*="span"] {
            background-color: #999;
        }

/* Details page */
.display-label {
    font-weight: bold;
}

.display-field {
}

.detail-page ul {
    list-style: none;
}

.suggest-label {
    font-family: Vijaya;
    font-weight: bold;
    font-size: xx-large;
    color: #FF9933;
    margin-bottom: 0.5em;
    line-height: 30px;
}

.detail-table .span1andhalf {
    width: 12.5%;
    *width: 12.5%;
}

.detail-table .span2 {
    width: 16.666666666666667%;
    *width: 16.666666666666667%;
}

.detail-table .span3 {
    width: 25%;
    *width: 25%;
}

.detail-table .span4andhalf {
    /*Should be calculated 37.5%, but decrease to 36% to be compatible with IE 7*/
    width: 37.5%;
    *width: 36%; /* IE7 and below */ 
}

.detail-table [class*="span"]:first-child {
    /* Because :not and :last-child is not valid in IE8 and below, 
        so changed to use :first-child to apply the left border for all browsers*/ 
    border-left: solid 1px black;
}

.detail-table [class*="span"] {
    margin-left: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}

    .detail-table [class*="span"] div {
        padding: 5px 5px;
    }

        .detail-table [class*="span"] div:first-child {
            border-bottom: solid 1px black;
            text-align: center;
            background-color: #ECB88E;
            background-image: -moz-linear-gradient(top, #ffffff, #CCCCCC);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#CCCCCC));
            background-image: -webkit-linear-gradient(top, #ffffff, #CCCCCC);
            background-image: -o-linear-gradient(top, #ffffff, #CCCCCC);
            background-image: linear-gradient(to bottom, #ffffff, #CCCCCC);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#CCCCCC', GradientType=0);
        }


/* Contact Page */
.multi-line {
    width: 95%;
    min-height: 250px;
}

.input-validation-error {
    border: 1px solid #FF0000 !important;
}

.field-validation-error {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: #FF0000;
}

@media (max-width: 767px) {
    #wrap > .container-fluid, #wrap > .container {
        padding-top: 0px;
    }

    #footer {
        height: auto;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin-bottom: 5px;
    }

        #footer .row-fluid [class*="span"] {
            min-height: inherit;
        }

    .home-page .row-fluid .span4 {
        text-align: center;
    }

        .home-page .row-fluid .span4 div {
            display: inline-block;
        }

        .home-page .row-fluid .span4 h2 {
            font-size: 26px;
        }

        .home-page .row-fluid .span4 img {
            height: 64px;
        }

    .hero-unit {
        padding: 0px;
    }

    .sidebar-nav {
        margin-bottom: 0px;
        margin-left: 6px;
    }

    a[class*="group"] img {
        max-height: none;
        max-width: none;
        width: 100%;
    }

    .GlovePage > .row-fluid > .span3 {
        min-height: inherit;
    }

    .show-grid {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -20px;
        margin-right: -20px;
        width: initial;
    }

        .show-grid [class*="span"] {
            padding-left: 5px;
            padding-right: 10px;
            min-height: 84px;
            line-height: 84;
            background-color: #E0E0EB;
            /*margin-left: 20px !important;*/
            clear: both;
            float: left;
            border-bottom: solid 1px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

            .show-grid [class*="span"]:hover {
                background-color: #ddd;
            }

            .show-grid [class*="span"] img {
                height: 65px;
                float: left;
                margin: 5px 0em 0.7em 0.3em;
            }

            .show-grid [class*="span"] h4 {
                float: left;
                margin: 1.7em 0.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 60%;
            }

            .show-grid [class*="span"] h6 {
                float: left;
                margin: 1.7em 0.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 60%;
                font-size: 20px;
            }

            /*.show-grid [class*="span"] p:last-child a {
                float: right;
                margin: 1.1em 0;
                font-size: 25px;
                line-height: 15px;
                padding: 7px 7px;
                -webkit-border-radius: 700px;
                -moz-border-radius: 700px;
                border-radius: 700px;
            }*/

    .detail-page > .row-fluid > .span9 {
        margin-left: auto;
    }

    .detail-page ul {
        list-style: none;
        margin-left: 0px;
    }

    .detail-table {
    }

        .detail-table [class*="span"]:not(:last-child) {
            border-left: none;
            border-bottom: none;
            border-top: none;
        }

        .detail-table [class*="span"]:last-child {
            border: none;
        }

        .detail-table [class*="span"]:not(:first-child) {
            margin-left: 0px;
        }

        .detail-table [class*="span"] div {
            padding: 0px;
        }

            .detail-table [class*="span"] div:first-child {
                border-bottom: none;
                text-align: left;
                background: none;
            }

            .detail-table [class*="span"] div:last-child {
                margin-bottom: 20px;
            }
}
